*.iml
.idea/
*/target
*/.iml

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
META-INF/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

/bin/

# svn ignore
.svn/

# maven module .gitignore
cms-*/.gitignore
cms-webapp/src/main/webapp/frag

cms-ztweb/src/main/webapp/frag

